{% extends 'base.html' %}
{% load staticfiles %}

{% block side-about %}
  w3-black
{% endblock %}

{% block top-about %}
  w3-black
{% endblock %}

{% block header %}
  Coding. Music. Gaming.
{% endblock %}

{% block content %}
  <!-- Use any element to open/show the overlay navigation menu -->
  <div class="w3-content w3-justify w3-text-light-grey w3-margin-32" id="content">
    <h2 class="gk-highlight">Gannon</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>I'm a University of Pittsburgh graduate (class of 2017) with a Bachelor of Science degree in computer engineering. I currently work as an Engineer at the FedEx Ground World Headquarters in Pittsburgh, Pennsylvania.</p>
    <br />
    <p>I am most passionate about Python programming, which I aspire to one day make a professional career of. I am completely self-taught in Python, and try to constantly improve my knowledge and expertise of the language and its various implementations and extensions. Aside from Python, I am also very proficient in web development, Java, and VBA. Beyond my high-proficiency languages, I also have infrequent experience with Avenue, C/C++, C#, and MIPS Assembly.</p>
    <br />
    <p>While programming is my biggest passion, my true first passion in life was music, being exposed to it constantly while growing up. During my time as a student at PITT, I began to teach myself music theory and eventually started to learn to play guitar and piano with a midi keyboard. To this day, I strive to increase my music knowledge and ability, so that I may provide entertainment and give back to the industry that has provided such a large impact to my life thus far.</p>
    <br />
    <p>In my spare time I also like playing PC video games and spending time outdoors in nature, either hiking or playing disc golf, soccer, or volleyball.</p>
  </div>

{% endblock %}