{% load static %}

<!DOCTYPE html>
<html>
  <title>if __name__ is __main__</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
  <link href="{% static 'fontawesome/fontawesome-all.css' %}" rel="stylesheet">
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

  <style>
  @font-face {
    font-family: "Courier Prime Code";
    src:url("{% static 'fonts/Courier Prime Code/Courier Prime Code.ttf' %}") format('ttf');
  }
  body, h1,h2,h3,h4,h5,h6 { font-family: "Courier Prime Code"; }
  .w3-row-padding img { margin-bottom: 12px; }
  /* Set the width of the sidebar to 120px */
  .w3-sidebar { width: 120px; background: #222; }
  /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
  #main { margin-left: 120px; }
  /* Remove margins from "page content" on small screens */
  @media only screen and (max-width: 600px) {
    #main { margin-left: 0 }
  }
  .bgimg {
    background-image: url("{% static 'img/moulin.png' %}");
    background-repeat: repeat;
  }
  .highlight { color: aqua; font-weight: bold }
  link, a {
    text-decoration: none;
  }
  </style>

  <script>
    function pluralize(num,singular,plural){return''+ num+' '+(num===1?singular:plural);}
  </script>

  <body class="bgimg">
    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
      <!-- Avatar image in top left corner -->
      <img src="{% static 'img/avatar.jpg' %}" style="width:100%">
      <a href={% url 'home' %} class="w3-bar-item w3-button w3-padding-large {% block side-home %}{% endblock %}">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>HOME</p>
      </a>
      <a href={% url 'coding' %} class="w3-bar-item w3-button w3-padding-large {% block side-coding %}{% endblock %}">
        <i class="fa fa-code w3-xxlarge"></i>
        <p>CODING</p>
      </a>
      <a href={% url 'music' %} class="w3-bar-item w3-button w3-padding-large {% block side-music %}{% endblock %}">
        <i class="fa fa-headphones w3-xxlarge"></i>
        <p>MUSIC</p>
      </a>
      <a href={% url 'gaming' %} class="w3-bar-item w3-button w3-padding-large {% block side-gaming %}{% endblock %}">
        <i class="fa fa-gamepad w3-xxlarge"></i>
        <p>GAMING</p>
      </a>
      <a href={% url 'about' %} class="w3-bar-item w3-button w3-padding-large {% block side-about %}{% endblock %}">
        <i class="fa fa-address-card w3-xxlarge"></i>
        <p>ABOUT</p>
      </a>
      <a href={% url 'contact' %} class="w3-bar-item w3-button w3-padding-large {% block side-contact %}{% endblock %}">
        <i class="fa fa-envelope w3-xxlarge"></i>
        <p>CONTACT</p>
      </a>
    </nav>

    <!-- Navbar on small screens (Hidden on medium and large screens) -->
    <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
      <div class="w3-bar w3-grey w3-opacity w3-hover-opacity-off w3-center w3-small">
        <a href={% url 'home' %} class="w3-bar-item w3-center w3-button {% block top-home %}{% endblock %}" style="width:16.6666666667% !important"><i class="fa fa-home"></i></a>
        <a href={% url 'coding' %} class="w3-bar-item w3-center w3-button {% block top-coding %}{% endblock %}" style="width:16.6666666667% !important"><i class="fa fa-code"></i></a>
        <a href={% url 'music' %} class="w3-bar-item w3-center w3-button {% block top-music %}{% endblock %}" style="width:16.6666666667% !important"><i class="fa fa-headphones"></i></a>
        <a href={% url 'gaming' %} class="w3-bar-item w3-center w3-button {% block top-gaming %}{% endblock %}" style="width:16.6666666667% !important"><i class="fa fa-gamepad"></i></a>
          <a href={% url 'about' %} class="w3-bar-item w3-center w3-button {% block top-about %}{% endblock %}" style="width:16.6666666667% !important"><i class="fa fa-address-card"></i></a>
        <a href={% url 'contact' %} class="w3-bar-item w3-center w3-button {% block top-contact %}{% endblock %}" style="width:16.6666666667% !important"><i class="fa fa-envelope"></i></a>
      </div>
    </div>

    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
      <header class="w3-container w3-padding-32 w3-center w3-text-white" id="header">
        <h1 class="w3-xxlarge highlight"><i>IF __NAME__ IS __MAIN__</i></h1>
        <h3>{% block header %}{% endblock %}</h3>
      </header>

      {% block content %}{% endblock %}

      <footer class="w3-container w3-padding-32 w3-center w3-text-white">
        <a href="#main" class="w3-button w3-light-grey">
          <i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
        <div class="w3-xlarge w3-section">
          <a href="https://github.com/gannon93" target="_blank"><i class="fab fa-github w3-hover-opacity"></i></a>
          <a href="https://www.twitch.tv/gannon93" target="_blank"><i class="fab fa-twitch w3-hover-opacity"></i></a>
          <a href="https://twitter.com/AGuyNamedGannon" target="_blank"><i class="fab fa-twitter w3-hover-opacity"></i></a>
        </div>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
      </footer>
    </div>
  </body>
</html>
