{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>if name is main</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CDN for jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>

    <!-- CDN for underscore.js (use _, underscore, as a variable) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

    <!-- CDN for bluebird (use Promises) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bluebird/3.5.1/bluebird.min.js"></script>

    <!-- CDN for LESS -->
    <!--     <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script> -->

    <script src="{% static 'js/cookies.js' %}"></script>
    <script src="{% static 'js/themes.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>

    <!-- jQuery to run on `ready()` for each page. -->
    <script>
      var json_path = "{% static 'css/gkit_css/themes.json' %}";
      var static_path = "{% get_static_prefix %}";
      $(function(){
        loadThemes(json_path, static_path);

        var policy_read = readCookie(COOKIE_POLICY_COOKIE_KEY);
        if (policy_read != null) {
          hideCookiePolicy();
        }

        var ctheme = readCookie(THEME_COOKIE_KEY);
        if (ctheme != null && ctheme.length > 0) {
          changeTheme(ctheme, static_path);
        } else {
          changeTheme("hotline_miami", static_path);
          createCookie(THEME_COOKIE_KEY, "hotline_miami", 1)
        }
      });
    </script>

    <!-- W3.CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- FontAwesome 5 -->
    <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <style>
      @font-face {
        font-family: "Courier Prime Code";
        src:url("{% static 'fonts/Courier Prime Code/Courier Prime Code.ttf' %}") format('ttf');
      }
      div,body,h1,h2,h3,h4,h5,h6,p,a { font-family: "Courier Prime Code"; }
      .w3-row-padding img { margin-bottom: 12px; }
      /* Set the width of the sidebar to 120px */
      .w3-sidebar { width: 120px; background: #222; }
      /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
      #main { margin-left: 120px; }
      /* Remove margins from "page content" on small screens */
      @media only screen and (max-width: 600px) {
        #main { margin-left: 0 }
      }
      link, a {
        text-decoration: none;
      }
      .bgimg {
        background-image: url("{% static 'img/bg/dark_wood.png' %}");
        background-repeat: repeat;
      }
    </style>
    <link id="dynamic_css" rel="stylesheet" type="text/css" href="{% static 'css/gkit_css/themes/gk_theme_hotline_miami.css' %}">
  </head>

  <body class="bgimg">
    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center" id="side-navbar">
      <!-- Avatar image in top left corner -->
      <div id="theme-dropdown-side" class="w3-dropdown-hover">
        <img src="{% static 'img/avatar/avatar.jpg' %}" style="width:100%">
        <div id="theme-dropdown-side-items" class="w3-dropdown-content w3-bar-block theme-dropdown-items">
          <!-- <b class="w3-bar-item ">THEMES</b> -->
          <a class="w3-bar-item w3-button w3-black" href={% url 'themes' %}><b>THEMES</b></a>
        </div>
      </div>

      <a href={% url 'home' %} class="w3-bar-item w3-button w3-padding-large w3-hover-black {% block side-home %}{% endblock %}">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>HOME</p>
      </a>
      <a href={% url 'coding' %} class="w3-bar-item w3-button w3-padding-large w3-hover-black {% block side-coding %}{% endblock %}">
        <i class="fa fa-code w3-xxlarge"></i>
        <p>CODING</p>
      </a>
      <a href={% url 'music' %} class="w3-bar-item w3-button w3-padding-large w3-hover-black {% block side-music %}{% endblock %}">
        <i class="fa fa-headphones w3-xxlarge"></i>
        <p>MUSIC</p>
      </a>
      <a href={% url 'gaming' %} class="w3-bar-item w3-button w3-padding-large w3-hover-black {% block side-gaming %}{% endblock %}">
        <i class="fa fa-gamepad w3-xxlarge"></i>
        <p>GAMING</p>
      </a>
      <a href={% url 'about' %} class="w3-bar-item w3-button w3-padding-large w3-hover-black {% block side-about %}{% endblock %}">
        <i class="fa fa-address-card w3-xxlarge"></i>
        <p>ABOUT</p>
      </a>
      <a href={% url 'contact' %} class="w3-bar-item w3-button w3-padding-large w3-hover-black {% block side-contact %}{% endblock %}">
        <i class="fa fa-envelope w3-xxlarge"></i>
        <p>CONTACT</p>
      </a>
    </nav>

    <!-- Navbar on small screens (Hidden on medium and large screens) -->
    <div class="w3-top w3-hide-large w3-hide-medium" id="top-navbar">
      <div class="w3-bar w3-light-grey w3-opacity w3-hover-opacity-off w3-center w3-small">
        <div id="theme-dropdown-top" class="w3-bar-item w3-center w3-dropdown-hover" style="width:14.2857142857% !important">
          <i class="fas fa-paint-brush"></i>
          <div id="theme-dropdown-top-items" class="w3-dropdown-content w3-bar-block theme-dropdown-items">
            <!-- <b class="w3-bar-item w3-black">THEMES</b> -->
            <a class="w3-bar-item w3-button w3-black" href={% url 'themes' %}><b>THEMES</b></a>
          </div>
        </div>
        <a href={% url 'home' %} class="w3-bar-item w3-center w3-button w3-hover-black {% block top-home %}{% endblock %}" style="width:14.2857142857% !important"><i class="fa fa-home"></i></a>
        <a href={% url 'coding' %} class="w3-bar-item w3-center w3-button w3-hover-black {% block top-coding %}{% endblock %}" style="width:14.2857142857% !important"><i class="fa fa-code"></i></a>
        <a href={% url 'music' %} class="w3-bar-item w3-center w3-button w3-hover-black {% block top-music %}{% endblock %}" style="width:14.2857142857% !important"><i class="fa fa-headphones"></i></a>
        <a href={% url 'gaming' %} class="w3-bar-item w3-center w3-button w3-hover-black {% block top-gaming %}{% endblock %}" style="width:14.2857142857% !important"><i class="fa fa-gamepad"></i></a>
          <a href={% url 'about' %} class="w3-bar-item w3-center w3-button w3-hover-black {% block top-about %}{% endblock %}" style="width:14.2857142857% !important"><i class="fa fa-address-card"></i></a>
        <a href={% url 'contact' %} class="w3-bar-item w3-center w3-button w3-hover-black {% block top-contact %}{% endblock %}" style="width:14.2857142857% !important"><i class="fa fa-envelope"></i></a>
      </div>
    </div>

    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
      <header class="w3-container w3-padding-32 w3-text-light-grey w3-center" id="header">
        <div id="cookie_policy_banner" class="w3-small w3-black">
          <div class="w3-bar">
            <p class="w3-bar-item">This website uses cookies to keep things like themes persistent site-wide. Please see the <a class="gk-theme-text-element" href="{% url 'cookies' %}" target="_blank">Cookie Policy</a> for further information. <a
              class="w3-button w3-grey"
              onclick="acknowledgeCookiePolicy();">
              Got it!
            </a></p>
          </div>
        </div>

        <div class="w3-row w3-hide-medium w3-hide-small">
          <pre class="w3-threequarter gk-theme-text-element">
 __     ______      __   __     ______     __    __     ______    
/\ \   /\  ___\    /\ "-.\ \   /\  __ \   /\ "-./  \   /\  ___\   
\ \ \  \ \  __\    \ \ \-.  \  \ \  __ \  \ \ \-./\ \  \ \  __\   
 \ \_\  \ \_\       \ \_\\"\_\  \ \_\ \_\  \ \_\ \ \_\  \ \_____\ 
  \/_/   \/_/        \/_/ \/_/   \/_/\/_/   \/_/  \/_/   \/_____/ 
          </pre>
        </div>

        <div class="w3-row w3-hide-medium w3-hide-small">
          <div class="w3-quarter w3-text-black">_</div>
          <pre class="w3-threequarter gk-theme-text-element">
    __     ______        __    __     ______     __     __   __    
   /\ \   /\  ___\      /\ "-./  \   /\  __ \   /\ \   /\ "-.\ \   
   \ \ \  \ \___  \     \ \ \-./\ \  \ \  __ \  \ \ \  \ \ \-.  \  
    \ \_\  \/\_____\     \ \_\ \ \_\  \ \_\ \_\  \ \_\  \ \_\\"\_\ 
     \/_/   \/_____/      \/_/  \/_/   \/_/\/_/   \/_/   \/_/ \/_/ 
          </pre>
        </div>

        <div class="w3-row w3-hide-large">
          <h1 class="w3-col  w3-jumbo gk-theme-text-element"><i>IF NAME IS MAIN</i></h1>
        </div>

        <div class="w3-row">
          <h3 class="w3-col">{% block header %}{% endblock %}</h3>
        </div>
      </header>

      {% block content %}{% endblock %}

      <footer class="w3-container w3-padding-32 w3-center w3-text-white">
        <a href="#main" class="w3-button w3-light-grey">
          <i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>

        <div class="w3-xlarge w3-section">
          <a href="https://github.com/gannon93" target="_blank"><i class="fab fa-github w3-hover-opacity"></i></a>
          <a href="https://www.twitch.tv/gannon93" target="_blank"><i class="fab fa-twitch w3-hover-opacity"></i></a>
          <a href="https://twitter.com/AGuyNamedGannon" target="_blank"><i class="fab fa-twitter w3-hover-opacity"></i></a>
        </div>

        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
      </footer>
    </div>
  </body>
</html>
