{% extends 'base.html' %}
{% load static %}

{% block side-coding %}
  w3-black
{% endblock %}

{% block top-coding %}
  w3-black
{% endblock %}

{% block header %}
  <span class="gk-theme-element">Coding.</span> Music. Gaming.
{% endblock %}

{% block content %}
  <div class="w3-content w3-justify w3-text-light-grey w3-margin-32" id="content">
    <hr />
    <h2 class="w3-center gk-theme-element"><a href="{% url 'kharon' %}">Click here for the Kharon live demo.</a></h2>
    <hr />
    <br />
    <h2 class="gk-theme-element">Github Projects</h2>
    <!-- Repo lookup template adapted from Adam Pritchard's webpage:
          https://crypti.cc/
    -->
    <div id="github-repos">
      Loading...
      <script id="github-repo-template" type="text/template">
        <div class="repo w3-text-light-grey">
          <h4><a href="<%- html_url %>"><%- name %></a></h4>
          <div><%- description %></div>
          <div>
            <small>
              <% if (watchers_count > 1 || forks_count > 1) { %>
                <%- pluralize(watchers_count, 'star', 'stars') %>,
                <%- pluralize(forks_count, 'fork', 'forks') %>.
              <% } %>
              <% if (language) { %>
                Written mostly in <%- language %>.
              <% } %>
            </small>
          </div>
          <br />
        </div>
      </script>
    </div>
  </div>
  <script src="{% static 'js/projects.js' %}"></script>
{% endblock %}