{% extends 'base.html' %}
{% load staticfiles %}

{% block side-coding %}
  w3-black
{% endblock %}

{% block side-home %}
  w3-hover-black
{% endblock %}

{% block side-gaming %}
  w3-hover-black
{% endblock %}

{% block side-music %}
  w3-hover-black
{% endblock %}

{% block side-contact %}
  w3-hover-black
{% endblock %}

{% block header %}
  <header class="w3-container w3-padding-32 w3-center w3-black bgimg" id="header">
      <h1 class="w3-jumbo">Gannon.</h1>
      <p><span class="highlight">Coding.</span> Music. Gaming.</p>
  </header>
{% endblock %}

{% block content %}
  <div class="w3-content w3-justify w3-text-light-grey w3-padding-64" id="content">
    <h2>Github Projects</h2>
    <!-- Repo lookup template adapted from Adam Pritchard's webpage:
          https://crypti.cc/
    -->
    <div id="github-repos">
      Loading...
      <script id="github-repo-template" type="text/template">
        <div class="repo w3-text-grey">
          <h4><a href="<%- html_url %>"><%- name %></a></h4>
          <div><%- description %></div>
          <div>
            <small>
              <% if (watchers_count > 1 || forks_count > 1) { %>
                <%- pluralize(watchers_count, 'star', 'stars') %>,
                <%- pluralize(forks_count, 'fork', 'forks') %>.
              <% } %>
              <% if (language) { %>
                Written mostly in <%- language %>.
              <% } %>
              Last updated <%- new Date(updated_at).toLocaleDateString() %>.
            </small>
          </div>
          <br />
        </div>
      </script>
    </div>
  </div>
  <script src="{% static 'js/projects.js' %}"></script>
{% endblock %}