{% extends 'base.html' %}
{% load static %}

{% block side-contact %}
  w3-black
{% endblock %}

{% block top-contact %}
  w3-black
{% endblock %}

{% block header %}
  Coding. Music. Gaming.
{% endblock %}

{% block content %}
  <div class="w3-content w3-text-light-grey w3-margin-32 w3-large" id="content">
        <div class="w3-row">
          <div class="w3-col w3-center s6 w3-content w3-text-light-grey">
            <br />
            <h3 class="gk-theme-hotline-miami">Coding</h3>
            <br />
            <a href="https://github.com/gannon93" target="_blank"><i class="fab fa-github w3-hover-opacity"></i> GitHub
            <br class="w3-hide-large w3-hide-medium"/>(@gannon93)</a>
            <br />

          </div>

          <div class="w3-col w3-center s6 w3-content w3-text-light-grey">
            <br /><h3 class="gk-theme-hotline-miami">Personal</h3><br />
            <a href="https://twitter.com/aguynamedgannon" target="_blank"><i class="fab fa-twitter w3-hover-opacity"></i> Twitter
            <br class="w3-hide-large w3-hide-medium"/>(@AGuyNamedGannon)</a>
          </div>
        </div>

        <div class="w3-row">
          <div class="w3-col w3-center s6 w3-content w3-text-light-grey">
            <br />
            <h3 class="gk-theme-hotline-miami">Music</h3>
            <br />
            <a href="https://twitter.com/fuygieri" target="_blank"><i class="fab fa-twitter w3-hover-opacity"></i> Twitter
            <br class="w3-hide-large w3-hide-medium"/>(@fuygieri)</a>
            <br /><br />
            <a href="https://soundcloud.com/fuygieri" target="_blank"><i class="fab fa-soundcloud w3-hover-opacity"></i> Soundcloud
            <br class="w3-hide-large w3-hide-medium"/>(@fuygieri)</a>
          </div>

          <div class="w3-col w3-center s6 w3-content w3-text-light-grey">
            <br />
            <h3 class="gk-theme-hotline-miami">Professional</h3>
            <br />
            <a href="https://www.linkedin.com/in/zachary-gannon-65761490/" target="_blank"><i class="fab fa-linkedin w3-hover-opacity"></i> LinkedIn</a>
          </div>
        </div>

        <div class="w3-row">
          <div class="w3-col w3-center s6 w3-content w3-text-light-grey">
            <br />
            <h3 class="gk-theme-hotline-miami">Gaming</h3>
            <br />
            <a href="https://www.twitch.tv/gannon93" target="_blank"><i class="fab fa-twitch w3-hover-opacity"></i> Twitch
            <br class="w3-hide-large w3-hide-medium"/>(@Gannon93)</a>
            <br /><br />
            <i class="fab fa-discord w3-hover-opacity"></i></i> Discord
            <br class="w3-hide-large w3-hide-medium"/>(Gannon#0851)
            <br />
          </div>
        </div>

        <br />
  </div>
{% endblock %}