{% extends 'base.html' %}

{% block side-contact %}
  w3-black
{% endblock %}

{% block side-coding %}
  w3-hover-black
{% endblock %}

{% block side-gaming %}
  w3-hover-black
{% endblock %}

{% block side-music %}
  w3-hover-black
{% endblock %}

{% block side-home %}
  w3-hover-black
{% endblock %}

{% block header %}
  <header class="w3-container w3-padding-32 w3-center w3-black bgimg" id="header">
      <h1 class="w3-jumbo">IF __NAME__ IS __MAIN__</h1>
      <p>Coding. Music. Gaming.</p>
  </header>
{% endblock %}

{% block content %}
  <div class="w3-content w3-text-light-grey w3-padding-64 w3-large" id="content">
        <h2>You can reach me at the following:</h2>

        <div class="w3-row">
          <div class="w3-col s6 w3-content w3-text-grey">
            <br />
            <h3 class="w3-text-light-grey">Coding</h3>
            <br />
            <a href="https://github.com/gannon93" target="_blank"><i class="fa fa-github w3-hover-opacity"></i> GitHub (@gannon93)</a>
            <br />

          </div>

          <div class="w3-col s6 w3-content w3-text-grey">
            <br /><h3 class="w3-text-light-grey">Personal</h3><br />
            <a href="https://twitter.com/aguynamedgannon" target="_blank"><i class="fa fa-twitter w3-hover-opacity"></i> Twitter (@AGuyNamedGannon)</a>
          </div>
        </div>

        <div class="w3-row">
          <div class="w3-col s6 w3-content w3-text-grey">
            <br />
            <h3 class="w3-text-light-grey">Music</h3>
            <br />
            <a href="https://twitter.com/fuygieri" target="_blank"><i class="fa fa-twitter w3-hover-opacity"></i> Twitter (@fuygieri)</a>
            <br />
            <a href="https://soundcloud.com/fuygieri" target="_blank"><i class="fa fa-soundcloud w3-hover-opacity"></i> Soundcloud (@fuygieri)</a>
          </div>

          <div class="w3-col s6 w3-content w3-text-grey">
            <br />
            <h3 class="w3-text-light-grey">Professional</h3>
            <br />
            <a href="https://www.linkedin.com/in/zachary-gannon-65761490/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i> LinkedIn</a>
          </div>
        </div>

        <div class="w3-row">
          <div class="w3-col s6 w3-content w3-text-grey">
            <br />
            <h3 class="w3-text-light-grey">Gaming</h3>
            <br />
            <a href="https://www.twitch.tv/gannon93" target="_blank"><i class="fa fa-twitch w3-hover-opacity"></i> Twitch (@Gannon93)</a>
            <br />
          </div>
        </div>

        <br />
  </div>
{% endblock %}