{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Use any element to open/show the overlay navigation menu -->

  <div class="w3-content w3-justify w3-text-light-grey w3-margin-32" id="content">
    <p>This website uses cookies to keep things like themes persistent site-wide:</p>

    <br />

    <b>landed</b>
    <ul>
      <li>Description: Used to show Watch_Dogs 2 style "login" landing page only once per session.</li>
      <li>Expires: End of session</li>
    </ul>
    <br />

    <b>policy_acknowledged</b>
    <ul>
      <li>Description: Used to show "Cookie Policy" banner until acknowledged.</li>
      <li>Expires: 1 Day</li>
    </ul>
    <br />

    <b>theme</b>
    <ul>
      <li>Description: Used to keep track of currently selected theme.</li>
      <li>Expires: 1 Day</li>
    </ul>
  </div>

{% endblock %}