{% extends 'base.html' %}
{% load static %}

{% block top-home %}
  w3-black
{% endblock %}

{% block side-home %}
  w3-black
{% endblock %}

{% block header %}
  Coding. Music. Gaming.
{% endblock %}

{% block content %}
  <!-- Use any element to open/show the overlay navigation menu -->

  <div class="w3-content w3-justify w3-text-light-grey w3-margin-32" id="content">
    <h2 class="gk-theme-element">Grab a seat and hunker down...</h2>
    <hr style="width:200px" class="w3-opacity">
    <p class="w3-hide-small">Thanks for stopping by. Check out the links on the sidebar to the left.</p>

    <p class="w3-hide-large w3-hide-medium">Thanks for stopping by. Check out the links on the navbar up top.</p>
    <br />
    <p>
      This website was written with Python (Django) and is hosted on PythonAnywhere. Host a site for free using my referral link:
      <a class="gk-theme-element" href="https://www.pythonanywhere.com/?affiliate_id=001b8fbb" target="_blank">https://www.pythonanywhere.com/?affiliate_id=001b8fbb</a>
    </p>
    
    <br /><br />
    <p>See you around, space cowboy.</p>
  </div>

{% endblock %}