{% extends 'base.html' %}
{% load staticfiles %}

{% block top-about %}
  w3-hover-black
{% endblock %}

{% block side-about %}
  w3-hover-black
{% endblock %}

{% block side-home %}
  w3-black
{% endblock %}

{% block side-coding %}
  w3-hover-black
{% endblock %}

{% block side-gaming %}
  w3-hover-black
{% endblock %}

{% block side-music %}
  w3-hover-black
{% endblock %}

{% block side-contact %}
  w3-hover-black
{% endblock %}

{% block top-home %}
  w3-black
{% endblock %}

{% block top-coding %}
  w3-hover-black
{% endblock %}

{% block top-gaming %}
  w3-hover-black
{% endblock %}

{% block top-music %}
  w3-hover-black
{% endblock %}

{% block top-contact %}
  w3-hover-black
{% endblock %}

{% block header %}
  Coding. Music. Gaming.
{% endblock %}

{% block content %}
  <!-- Use any element to open/show the overlay navigation menu -->


    <h2 class="w3-text-light-grey">Grab a seat and hunker down...</h2>
    <hr style="width:200px" class="w3-opacity">
    <p class="w3-hide-small">Thanks for stopping by. Check out the links on the sidebar to the left.</p>
    <p class="w3-hide-large w3-hide-medium">Thanks for stopping by. Check out the links on the navbar up top.</p>
    <br />
    <p>See you around, space cowboy.</p>
  </div>

{% endblock %}