{% extends 'base.html' %}
{% block content %}
  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">Grab a seat and hunker down...</h2>
    <hr style="width:200px" class="w3-opacity">
  <p>I'm a University of Pittsburgh graduate (class of 2017) with a Bachelor of Science degree in computer engineering. My passion lies in Python programming, which I aspire to one day make a professional career of. In my spare time I like playing PC video games, listening to music, and spending time outdoors in nature, either hiking or playing disc golf, soccer, or volleyball.</p>

    <h3 class="w3-padding-16 w3-text-light-grey">My Skills</h3>
    <p class="w3-wide">Python (esp. Tkinter/Tcl, Django)</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:95%"></div>
    </div>
    <p class="w3-wide">Web Design (HTML, CSS/W3.CSS, JS/JQuery, PHP)</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:85%"></div>
    </div>
    <p class="w3-wide">VB 6.0 (VBA for MS Excel)</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:80%"></div>
    </div><br>
  </div>

{% endblock %}