{% extends 'base.html' %}
{% load static %}

{% block side-coding %}
  w3-black
{% endblock %}

{% block top-coding %}
  w3-black
{% endblock %}

{% block header %}
  <span class="gk-theme-text">Coding.</span> Music. Gaming.
{% endblock %}

{% block content %}
  <script src="{% static 'home/js/lib/FileSaver.min.js' %}"></script>
  <script src="{% static 'home/js/custom_saver.js' %}"></script>
  
  <!-- Use any element to open/show the overlay navigation menu -->
  <div class="w3-content w3-justify w3-text-light-grey w3-margin-32" id="content">
    <h1 class="w3-center w3-hide-large gk-theme-text w3-jumbo">Kharon</h1>
    <pre class="w3-center w3-hide-medium w3-hide-small gk-theme-text">

 __  __     __  __     ______     ______     ______     __   __    
/\ \/ /    /\ \_\ \   /\  __ \   /\  == \   /\  __ \   /\ "-.\ \   
\ \  _"-.  \ \  __ \  \ \  __ \  \ \  __<   \ \ \/\ \  \ \ \-.  \  
 \ \_\ \_\  \ \_\ \_\  \ \_\ \_\  \ \_\ \_\  \ \_____\  \ \_\\"\_\ 
  \/_/\/_/   \/_/\/_/   \/_/\/_/   \/_/ /_/   \/_____/   \/_/ \/_/ 
                                                                   

    </pre>
    Kharon is a python module (`pip install Kharon`) which will convert your Red-DiscordBot cogs' `info.json` files from v2 to v3.
    <br /><br />
    This was developed because I am lazy and didn't want to manually change all keys to `lower()`, change `authors` to be a list, or remap `DISABLED` to `hidden`.
    <hr />
    <div class="w3-hide-large w3-hide-medium gk-theme-text">
      Hey guys, I know this page looks like garbage on mobile. My bad, but its on the list to work on.<br /><hr />
    </div>
    To use the live version of Kharon:
    <br /><br />
    <ol>
      <li>Provide Kharon with your `info.json` file:
        <ul>
          <li>Provide Kharon your GitHub username, repository name, and cog name.</li>
          <li>Upload your `info.json` file from your local machine.</li>
          <li>Paste the contents of your `info.json` file in the `Preview` pane.</li>
        </ul>
      <li>Select which version you want to convert your `info.json` file.</li>
      <li>Convert your `info.json` file.</li>
      <li>Copy or export the results.</li>
      <li>???</li>
      <li>PROFIT!</li>
    </ol>
    <hr />
    <form id="Kharon_form">
      <div id="upload">
        1. Provide Kharon your `info.json` file.
        <div id="upload_github_div">
          <br /><br />
          GitHub:
          <br /><br />
          <input type="text" name="username_text" id="username_text" value="{{username}}" onClick="this.setSelectionRange(0, this.value.length)"></input>
          <input type="text" name="reponame_text" id="reponame_text" value="{{reponame}}" onClick="this.setSelectionRange(0, this.value.length)"></input>
          <input type="text" name="cogname_text" id="cogname_text" value = "{{cogname}}" onClick="this.setSelectionRange(0, this.value.length)"></input>
          <br /><br />
          <button type="submit" name="upload_github_button" id="upload_github_button" value="1">Retrieve info.json from GitHub...</button>
        </div>
        <div id="upload_file_div" style="display: None">
          <br /><br />
          <button id="upload_file_button" name="upload_file_button" value="1">Upload your info.json file...</button>
        </div>
        <br />
      <hr />
      </div>

      <div id="convert">
        2. Convert your `info.json` file
        <br /><br />
        <div id="upload_preview_div">
          Preview:
          <br /><br />
          <textarea id="upload_preview_textarea" name="upload_preview_textarea" rows="20" cols="72">{{preview}}</textarea>
        </div>
        <br />
        Convert your info.json to...
        <br /><br />
        <input type="radio" id="v3_radio" name="red_version" value="v3" checked>Red v3</input>
        <input type="radio" id = "v2_radio" name="red_version" value="v2">Red v2</input>
        <br /><br />
        <button id="convert_button" name="convert_button" value="1">Convert your info.json</button>
        <br /><br />
        <hr />
      </div>

      <div id="export">
        3. Save your results...
        <br /><br />
        Output:
        <br /><br />
        <textarea id="export_output_textarea" name="export_output_textarea" rows="20" cols="72">{{output}}</textarea>
        <br /><br />
        <input type="button" onclick="export_json()" name="export_button" id="export_button" value="Export to JSON"></input>
        <input type="button" onclick="copy_json()" name="copy_button" id="copy_button" value="Copy to Clipboard"></input>
      </div>
    </form>
  </div>
  {% if gotodiv %}
    <script> window.location.hash = '#{{gotodiv}}'; </script>
  {% endif %}

{% endblock %}