{% extends 'base.html' %}
{% load staticfiles %}

{% block top-music %}
  w3-black
{% endblock %}

{% block side-music %}
  w3-black
{% endblock %}

{% block header %}
    Coding. <span class="gk-highlight">Music.</span> Gaming.
{% endblock %}

{% block content %}
  <div class="w3-content w3-center w3-margin-32 gk-highlight" id="content">
    <a href="https://www.soundcloud.com/fuygieri" target="_blank">
    <pre class="w3-hide-small w3-hide-medium">
 ______   __  __     __  __        ______     __     ______     ______     __
/\  ___\ /\ \/\ \   /\ \_\ \      /\  ___\   /\ \   /\  ___\   /\  == \   /\ \
\ \  __\ \ \ \_\ \  \ \____ \     \ \ \__ \  \ \ \  \ \  __\   \ \  __<   \ \ \
 \ \_\    \ \_____\  \/\_____\     \ \_____\  \ \_\  \ \_____\  \ \_\ \_\  \ \_\
  \/_/     \/_____/   \/_____/      \/_____/   \/_/   \/_____/   \/_/ /_/   \/_/
    </pre>

    <pre class="w3-hide-large w3-hide-small">
 ______   __  __     __  __
/\  ___\ /\ \/\ \   /\ \_\ \
\ \  __\ \ \ \_\ \  \ \____ \
 \ \_\    \ \_____\  \/\_____\
  \/_/     \/_____/   \/_____/

    ______     __     ______     ______     __
   /\  ___\   /\ \   /\  ___\   /\  == \   /\ \
   \ \ \__ \  \ \ \  \ \  __\   \ \  __<   \ \ \
    \ \_____\  \ \_\  \ \_____\  \ \_\ \_\  \ \_\
     \/_____/   \/_/   \/_____/   \/_/ /_/   \/_/
    </pre>

    <pre class="w3-hide-large w3-hide-medium">/= |_| `/ (_, | [- /? |</pre></a>
  </div>
{% endblock %}