{% extends 'base.html' %}

{% block side-music %}
  w3-black
{% endblock %}

{% block side-coding %}
  w3-hover-black
{% endblock %}

{% block side-gaming %}
  w3-hover-black
{% endblock %}

{% block side-home %}
  w3-hover-black
{% endblock %}

{% block side-contact %}
  w3-hover-black
{% endblock %}

{% block header %}
  <header class="w3-container w3-padding-32 w3-center w3-black bgimg" id="header">
      <h1 class="w3-jumbo">Gannon.</h1>
      <p>Coding. <span class="highlight">Music.</span> Gaming.</p>
  </header>
{% endblock %}

{% block content %}
  <div class="w3-content w3-center w3-text-grey w3-padding-64" id="content">
    <pre class="w3-hide-small w3-hide-medium">
 ______   __  __     __  __        ______     __     ______     ______     __
/\  ___\ /\ \/\ \   /\ \_\ \      /\  ___\   /\ \   /\  ___\   /\  == \   /\ \
\ \  __\ \ \ \_\ \  \ \____ \     \ \ \__ \  \ \ \  \ \  __\   \ \  __<   \ \ \
 \ \_\    \ \_____\  \/\_____\     \ \_____\  \ \_\  \ \_____\  \ \_\ \_\  \ \_\
  \/_/     \/_____/   \/_____/      \/_____/   \/_/   \/_____/   \/_/ /_/   \/_/
    </pre>

    <pre class="w3-hide-large">
 ______   __  __     __  __
/\  ___\ /\ \/\ \   /\ \_\ \
\ \  __\ \ \ \_\ \  \ \____ \
 \ \_\    \ \_____\  \/\_____\
  \/_/     \/_____/   \/_____/

    ______     __     ______     ______     __
   /\  ___\   /\ \   /\  ___\   /\  == \   /\ \
   \ \ \__ \  \ \ \  \ \  __\   \ \  __<   \ \ \
    \ \_____\  \ \_\  \ \_____\  \ \_\ \_\  \ \_\
     \/_____/   \/_/   \/_____/   \/_/ /_/   \/_/
    </pre>
  </div>
{% endblock %}