{% extends 'base.html' %}
{% load static %}

{% block header %}
  Coding. Music. Gaming.
{% endblock %}

{% block content %}
  <!-- Use any element to open/show the overlay navigation menu -->

  <div class="w3-content w3-justify w3-text-light-grey w3-margin-32" id="content">
    <h2 class="gk-theme-text-element">Themes</h2>

    <p >Scroll down to view available theme samples, or submit your own theme with the form <a href={% url 'submit' %} class="gk-theme-text-element">here</a>.</p>
  </div>

{% endblock %}