{% extends 'base.html' %}
{% load static %}

{% block side-about %}
  w3-black
{% endblock %}

{% block top-about %}
  w3-black
{% endblock %}

{% block header %}
  Coding / Gaming / Pop Culture
{% endblock %}

{% block content %}
  <!-- Use any element to open/show the overlay navigation menu -->
  <div class="w3-content w3-justify w3-text-light-grey w3-margin-32" id="content">
    <h2 class="gk-theme-text">Gannon</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>I'm a University of Pittsburgh graduate (class of 2017) with a Bachelor of Science degree in computer engineering. I currently work as a GIS Developer for FedEx Ground.</p>
    <br />
    <p>I am most passionate about Python programming, but also dabble in JavaScript. I am completely self-taught in Python, and try to constantly improve my knowledge and expertise of the language and its various implementations and extensions. Aside from Python and JavaScript, I am also very proficient in web development, Java, and VBA. Beyond my high-proficiency languages, I also have infrequent experience with Avenue, C/C++, C#, and MIPS Assembly.</p>
    <br />
    <p>In my spare time I also like playing PC video games and spending time outdoors in nature, either hiking or playing disc golf, soccer, or volleyball.</p>
  </div>

{% endblock %}