{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Use any element to open/show the overlay navigation menu -->

  <div class="w3-content w3-justify w3-text-light-grey w3-margin-32" id="content">
    <h2 class="gk-theme-text">Cookie Policy</h2>

    <p>This website uses cookies to keep things like themes and policy acceptance persistent site-wide, giving you a better quality of life experience when browsing the site. Any cookies used will not store any personal information.</p>

    <p>If you want to control which cookies you accept. You can configure your browser to accept all cookies or to alert you every time a cookie is offered by a website's server. Most browsers automatically accept cookies. You can set your browser option so that you will not receive cookies and you can also delete existing cookies from your browser. You may find that some parts of the site will not function properly if you have refused cookies.</p>

    <p>Please be aware that if you do not configure your browser you will accept cookies provided by this website.</p>

    <p>Please see the <a href="https://en.wikipedia.org/wiki/HTTP_cookie" target="_blank" class="gk-theme-text">Wikipedia definition of cookie</a> for further information.</p>

    <br />

    <h2 class="gk-theme-text">Cookies</h2>
    <h3 class="gk-theme-text">landed</h3>
    <ul>
      <li>Description: Used to show WATCH_DOGS 2-style "login" landing page, only once per session.</li>
      <li>Expires: End of session</li>
    </ul>

    <h3 class="gk-theme-text">policy_acknowledged</h3>
    <ul>
      <li>Description: Used to show "Cookie Policy" banner until acknowledged.</li>
      <li>Expires: 1 Day</li>
    </ul>

    <h3 class="gk-theme-text">theme, primary, secondary</h3>
    <ul>
      <li>Description: Used to keep track of currently selected theme and colors.</li>
      <li>Expires: 1 Week</li>
    </ul>
  </div>

{% endblock %}