.gk-theme-element { color: aqua; text-shadow: 2px 2px purple; }
.gk-theme-hotline-miami { color: aqua; text-shadow: 2px 2px purple; }
.gk-theme-hotline-miami-inverted { color: purple; text-shadow: 2px 2px aqua; }
.gk-theme-matrix { color: black; text-shadow: 2px 2px green; }
.gk-theme-matrix-inverted { color: green; text-shadow: 2px 2px black; }
.gk-theme-hulk { color: green; text-shadow: 2px 2px purple; }
.gk-theme-hulk-inverted { color: purple; text-shadow: 2px 2px green; }
